:root {
    --main-gray: #2D2D36;
    --secondary-gray: #3b3b3b;
    --accent-color: #5C6BA2;
    --main-white: #f4f4f4;
}

body{
    background-color: var(--main-gray);
}

.header {
    border: 1px solid red;
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header__link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px;
}

.header__link:hover {
    opacity: .5;
}

.header__link:focus {
    outline: none;
    background-color: var(--secondary-gray);
    border-radius: 5px;
}

.icon {
    width: 24px;
}

.main {
    border: 1px solid red;
    width: 100%;
    max-width: 700px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
}

.profile {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__photo{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.profile__name {
    font-family: 'Damion', cursive;
    font-size: 52px;
    font-weight: 400;
    color: var(--accent-color);
    margin: 16px 0;
}

.profile__description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--main-white);
    margin: 0;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.section{
    border: 1px solid red;
    padding: 8px;
    width: 100%;
    max-width: 450px;
    margin: 24px auto;
}

.section__title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--accent-color);
}

.project {
    border: 1px solid red;
    background-color: var(--secondary-gray);
    padding: 8px;
    margin: 16px 0;
    box-sizing: border-box;
}

.project__title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--accent-color);
    margin: 8px 0;
}

.project__description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--main-white);
    margin: 8px 0;
}