body{
    background-color: #313131;
}

.header {
    border: 1px solid red;
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header__link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px;
}

.header__link:hover {
    opacity: .5;
}

.header__link:focus {
    outline: none;
    background-color: #4d4d4d;
    border-radius: 5px;
}

.icon {
    width: 24px;
}